@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  &__home {
    @apply grid grid-cols-slider auto-cols-90% gap-[3rem] grid-rows-auto   grid-flow-row  snap-x snap-mandatory snap-always overflow-x-auto overflow-y-hidden touch-manipulation scroll-p-[1rem] lg:grid-cols-3 lg:auto-cols-33rem;
  }
}
.slideLeft {
  @apply translate-x-0 duration-300  ease-linear;
}
.slideRight {
  @apply translate-x-full duration-300 ease-linear;
}
.heading {
  @apply text-[4rem] font-semibold;
}
.header {
  &__categories--show {
    @apply shadow-shadowSmall border border-lightBlue group-hover/menu-child:flex hidden items-center mt-[4rem] p-[2.5rem] absolute font-medium bg-backGround rounded-2xl whitespace-nowrap after:absolute after:content-[''] 
    after:cursor-pointer after:h-[4.25rem] after:left-0 after:top-0 after:w-full after:-translate-y-full before:absolute before:content-[''] before:top-0 before:left-[3rem] before:w-[5rem] before:h-[5rem] before:rotate-45 before:-translate-y-[20%] before:bg-backGround before:-z-1 before:rounded-lg;
  }
  &__searchbox--show {
    @apply mt-[2rem] px-[3rem] py-[2rem] rounded-xl lg:absolute lg:left-0 shadow-shadowSmall bg-backGround before:absolute before:content-[''] before:w-[4rem] before:h-[4rem] before:bg-backGround before:rotate-45 before:right-3 before:translate-y-[-50%] before:rounded-md before:-z-1 before:shadow-shadow before:border before:border-lightBlue;
  }
  &__text {
    @apply text-[1.8rem] font-medium p-[1rem];
  }
}
.icon {
  &-10 {
    @apply w-10 h-10 cursor-pointer;
  }
  &-8 {
    @apply w-8 h-8 cursor-pointer;
  }
  &__search {
    @apply w-[4.4rem] h-[4.4rem] p-4 rounded-r-full cursor-pointer;
  }
}
.container {
  @apply lg:max-w-[128rem] px-[2rem] mx-auto max-w-full;
  &__page {
    @apply max-w-[114rem] mx-auto px-[2rem];
  }
}

.p-expert {
  &__text {
    @apply leading-[1.8] text-[1.6rem] mb-[1rem] text-lightBlack;
  }
  &__heading {
    @apply leading-[1.4] md:text-[2rem] lg:text-[2.8rem] font-extrabold mb-[2.5rem] text-primary;
  }
}
.heading {
  &-2 {
    @apply text-[2rem] font-semibold text-primary;
  }
}
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
  a {
    color: #222222;
  }
}
img,
picture,
svg,
video,
select,
option {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
body {
  min-height: 100vh;
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: #f8f9ff;
}
form,
input,
button,
textarea,
select,
option {
  outline: none;
  border: none;
}

.swiper-pagination-bullet {
  padding: 0.75rem;
  background-color: #555;
  &-active {
    background-color: #0056d2;
  }
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #0056d2;
}
