@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    font-size: 40px;
    font-weight: 600;
  }
}

@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
  a {
    color: #222222;
  }
}
img,
picture,
svg,
video,
select,
option {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
body {
  min-height: 100vh;
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
form,
input,
button,
textarea,
select,
option {
  outline: none;
  border: none;
}

.swiper {
  width: 100%;
  // height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.container {
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #0056d2;
}
